<% provide(:path, root_path) %>
<% provide(:search_name, 'Micropost search') %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <%= render 'shared/user_info' %>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
    <section class="micropost_form">
      <%= render 'shared/micropost_form' %>
    </section>
  </aside>
  <div class="col-md-8">
    <div class="row">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#feed-tab" data-toggle="tab">Micropost Feed</a></li>
          <li><a href="#talks-tab" data-toggle="tab">Messages</a></li>
        </ul>
    </div>
    <div class="tab-content">
      <div class="tab-pane active" id="feed-tab">
        <div class="row">
          <div class="search_form">
            <%= render 'shared/search_form' %>
          </div>
        </div>
        <%= render 'shared/feed' %>
      </div>
      <div class="tab-pane" id="talks-tab">
        <%= render 'shared/talks' %>
      </div>
    </div>
  </div>
</div>