<%= form_for(@user, url: yield(:url)) do |f| %>
  <%= render "shared/error_messages", object: @user %>
  
  <%= f.label :name %>
  <%= f.text_field :name, class: 'form-control' %>

  <%= f.label :email %>
  <%= f.email_field :email, class: 'form-control' %>
  
  <%= f.label :unique_name %>
  <%= f.text_field :unique_name, class: 'form-control' %>

  <%= f.label :password %>
  <%= f.password_field :password, class: 'form-control' %>

  <%= f.label :password_confirmation, "Confirmation" %>
  <%= f.password_field :password_confirmation, class: 'form-control' %>
  
  <%= f.label :follow_notification, class: "checkbox inline" do %>
    <%= f.check_box :follow_notification %>
    <span>Send email when other users follow you</span>
  <% end %>

  <%= f.submit yield(:button), class: "btn btn-primary" %>
<% end %>