<% provide(:title, @user.name) %>
<% provide(:path, user_path) %>
<% provide(:search_name, 'Micropost search') %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
        <% if current_user?(@user) %>
          | <%= link_to "delete", @user, method: :delete, data: { confirm: "You sure?" } %>
        <% end %>
      </h1>
      (ID: <%= @user.unique_name %>)
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
    <section class="talk" >
      <% if @user != current_user %>
        <%= form_for @talk do |f| %>
          <%= hidden_field_tag :member_id, @user.id %>
          <%= f.submit "Message", class: "btn btn-primary" %>
        <% end %>
      <% end %>
    </section>
  </aside>
  <div class="col-md-8">
    <%= render 'follow_form' if logged_in? %>
    <% if @user.microposts.any? %>
      <div class="row">
        <div class="col-md-4">
          <h3>Microposts (<%= @user.microposts.count %>)</h3>
        </div>
        <div class="search_form">
          <%= render 'shared/search_form' %>
        </div>
      </div>
      <% unless @microposts.empty? %>
        <ol class="microposts">
          <%= render @microposts %>
        </ol>
      <% else %>
        <p>
          Couldn't find any micropost.<br>
          Please check search word you are looking for.
        </p>
      <% end %>
      
      <%= paginate @microposts %>
    <% end %>
  </div>
</div>